.grass {
  width: 1000vw;
  animation-name: grassMovement;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.forest {
  width: 1000vw;
  animation-name: forestMovement;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.forest2 {
  width: 1000vw;
  animation-name: forestMovement;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.mountain {
  width: 1000vw;
  animation-name: mountainMovement;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.sprite {
  width: 160px;
  height: 200px;
  background: url("/sprite.png");
  background-size: cover;
  animation-name: running;
  animation-iteration-count: infinite;
  animation-duration: 700ms;
  animation-timing-function: steps(10);
  position: absolute;
  bottom: 40px;
  left: 40px;
}

@keyframes running {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1600px;
  }
}

@keyframes grassMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-126px);
  }
}

@keyframes forestMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-614px);
  }
}

@keyframes mountainMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1000px);
  }
}
